body{
    font-family:"黑体";
    font-size:0.9em;
}
.body,.info_head,.info_footer{
  width:80%;
  overflow:hidden;
  float:left;
  margin-left:10%;
}
header{
  background-color: gainsboro;
  overflow: hidden;
  width: 80%;
  margin-left: 10%;
  margin-top:-10px;
  float: left;
}
.header_right{
  float: left;
  overflow: hidden;
  width: 30%;
  margin-left: 65%;
}
.logo{
  height:10%;
  margin-top: 2%;
}
.logo_small{
  float:left;
}
.login_show_pic{
  float: left;
  width: 40%;
  padding-left: 10%;
}
.login_show_pic img{
  align-self: center;
}
.login_form {
  float: left;
  width: 20%;
  padding-left:4%;
  padding: 20px;
  border-color: gainsboro;
  border-style: inset;
  border-width: thin;
  border-top-color: rgb(255, 64, 1);
  border-top-style: outset;
  border-top-width: medium;
  margin: 20px;
}
/*INPUT*/
.register_input{
  float:left;
  width:40%;
  margin-left:15%;
  margin-top:100px;
  align-content: center;
  overflow: hidden;
}
.register_input_unit{
  height:50px;
  width:80%;
}
.register_input_unit span{
  width:20%;
  float:left;
  padding-top: 10px;
}
.register_input_unit span:first-child{
  width:2%;
  color:red;
  float:left;
  padding-top: 10px;
}
.edit_input_unit{
  float:left;
  padding-left:10%;
  margin-bottom:20px;
  width:80%;
}
.edit_input_unit>span{
  display: inline-block;
  width:10%;
  float:left;
  padding-right:4%;
  text-align: right;
  margin-top:15px;
}
.theme_input_text{
  float: left;
  width: 100%;
  height:25px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 30px;
  border-color: lightgrey;
  border-width: thin;
}
#login_name{
  background: url(../imgs/login/person.jpg) center left;
  background-repeat: no-repeat;
}
#login_password{
  background: url(../imgs/login/password.jpg) center left;
  background-repeat: no-repeat;
}
#register_name{
  background: url(../imgs/login/input.png) center right;
  background-repeat: no-repeat;
  width:70%;
}
#register_password,#register_confirm_password{
  background: url(../imgs/login/password.png) center right;
  background-repeat: no-repeat;
  width:70%;
}
#input_new_price,#input_old_price{
  width:15%;
  margin-right:40%;
  padding-left:1px;
}
#input_title{
  width:50%;
  padding-left:1px;
}

/*BUTTON START*/
.theme_button{
  color:white;
  float:left;
  width: 100%;
  height:30px;
  font-family: inherit;
  background-color:  rgb(255, 69, 0);
  border: 0;
  border-radius: 4px;
}
.publish_button{
  background-color: rgb(72, 152, 1);
  margin-left:10%;
  width: 16%;
  height:30px;
}
.login_button{
  font-size:1.2em;
}
.register_button{
  height:40px;
  font-size:1.4em;
  width: 70%;
}
.add_button{
  margin-top:30px;
  width:45%;
  height:24px;
  margin-left:5%;
  border-radius: 1px;
}
.option_button{
  float: left;
  margin-left: 55%;
  padding-top: 3%;
  overflow: hidden;
  width: 30%;
}
/*BUTTON END*/
.theme_color{
  color:rgb(255, 69, 0);
}
.theme_color_bg{
  background-color:rgb(255,69,0);
  color:white;
}
.small_block{
  float:left;
  width:50px;
  height:20px;
}
/*HREF START*/
a{
  text-decoration-line: inherit;
  color: black;
}
.href_user_aggrement{
  color:rgb(52,151,254);
}
.other_href_left{
  margin-top: 10px;
  float: left;
}
.other_href_right{
  margin-top: 10px;
  float: right;
}
.other_href{
  margin-top: 10px;
  margin-bottom: 20px;
  float: left;
  width:100%;
  overflow:hidden;
}
/*HREF END*/


.head{
  overflow:hidden;
  width:80%;
  float:left;
  border-color: gainsboro;
  border-style: ridge;
  border-width: thin;
  margin-bottom:2%;
  margin-left:10%;
  box-shadow: 0px 1px 5px 0px rgb(217, 217, 217);
}
.user_info{
  float:left;
  }
.cart,.goods_manager{
  float:left;
  margin-left:20px;
  margin-right:10px;
}
.user_info img{
  width:16px;
}
.cart img{
  width:16px;
}
#addImg{
  width:100px;
  height:100px;
  border:0;
  display:none;
}
.input_area{
  width:80%;
  float:left;
  margin-left:2%;
}
/*cart*/
.all_goods{
  float:left;
  width:15%;
  height:30px;
  border-bottom-color: rgb(255, 64, 1);
  border-style: inset;
  border-width: 0 0 4 0;
}
.select_goods{
  float:left;
  width:15%;
  padding-left:60%;
  height:30px;
  border-bottom-color: rgb(204, 204, 204);
  border-style: inset;
  border-width: 0 0 4 0;
}
.check_out{
  float:left;
  width:10%;
  height:30px;
  border-bottom-color: rgb(204, 204, 204);
  border-style: inset;
  border-width: 0 0 4 0;
}
#table_top{
  overflow:hidden;
  height:60px;
  width:98%;
  padding-left:1%;
}
.info_detail{
  background-color:rgb(252,252,252);
  overflow:hidden;
  height:80px;
  padding-top:10px;
  padding-bottom:10px;
  padding-left:1%;
  width:98%;
  border-bottom-color: rgb(204, 204, 204);
  border-style: groove;
  border-width:  1 1 1 1;
  margin-bottom:20px;
}
.info_detail:hover{
  background-color:rgb(255,247,224);
}
#select_all{
  float:left;
  width:10%;
}
#goods_info_title{
  float:left;
  width:35%;
  padding-left:5%;
}
#delete_selected{
  float:left;
  width:15%;
  padding-left:5%;
}
#count_selected{
  float:left;
  width:10%;
  margin-left:25%;
}
#sum_selected{
  float:left;
  margin-left:17%;
  width:10%;
}
#check_out{
  float:left;
  width:10%;
}
.select{
  float:left;
  width:5%;
}

.goods_info{
  overflow:hidden;
  float:left;
  width:45%;
}
.unit_price,.count,.unit_sum,.operation{
  float:left;
  width:12.5%;
  text-align:center;
}
.desc_left{
  float:left;
  width:20%;
}
.desc_right{
  overflow:hidden;
  float:left;
  width:80%;
}
.service_logo{
  height:20%;
}
.desc_text{
  height:80%;
  width:50%;
  padding-right:50%;
}

/*managerGoods*/
.left{
  width: 20%;
  overflow: hidden;
  height: 600px;
  float:left;
  border-color: gainsboro;
  border-style: inset;
  border-width: thin;
  margin-left:20px;
}

.right{
  width: 70%;
  overflow: hidden;

  float:left;
}
.menu{
  color: rgb(92,151,212);
  width: 90px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}
.undefine{
  background-color: rgb(92,151,212);
  color:white;
  width:90px;
  padding:4px;
}
.search_bar{
  height:40px;
  width:100%;
  background-color: rgb(245,245,245);
  float:left;
  padding-top:10px;
  margin-top:2px;
}
#serach_goods{
  width:250px;
}
#search_button{
  width:56px;
}
#name{
  float:left;
  width:100%;1
  margin-top:10px;
  padding:0 0 4 0;
}
.header_desc{
  width:100%;
  float:left;
  border-top-color: rgb(89,151,212);
  border-style:outset;
  background-color:rgb(246,250,253);
 border-width: 4 0 0 0;
 over-flow:hidden;
}
.form_manager{
  overflow:hidden;
  width:100%;
  float:left;
  margin-top:40px;
}
.a_1,.a_2,.a_3,.a_4,.a_5,.a_6{
  float:left;
}
.a_1{
  width:20%;
  padding: 3 40 3 40;
}
.a_2,.a_3,.a_4,.a_5,.a_6{
  width:10%;
  padding: 3 10 3 10;
}
.a_3,.a_4{
  color:blue;
  background: url(../imgs/up.png) center right;
  background-repeat: no-repeat;

}
.a_5{
  color:blue;
  background: url(../imgs/down.png) center right;
  background-repeat: no-repeat;

}
.select_all_top{
  border-bottom-color: rgb(233,233,233);
  border-style:inset;
  border-width: 0 0 3 0;
  padding:4 0 8 0;
}
.select_all_bottom{
  border-bottom-color: rgb(233,233,233);
  border-style:inset;
  border-width: 0 0 3 0;
  padding:4 0 8 0;
  float:left;
  width:100%;
}
.unit img{
  width:60px;
  height:60px;
  float:left;
}
.unit{
  overflow:hidden;
}
.unit div{
  float:left;
}
.unit div:nth-of-type(1){
  color:blue;
  width:20%;
}
.unit div:nth-of-type(2){
  color:rgb(255, 64, 1);
  width:10%;
}
.unit div(:nth-of-type(3),:nth-of-type(4),:nth-of-type(5),:nth-of-type(6)){
  width:10%;
}
.unit input{
  float:left;
}
.cartGoodsImg{
width:80px;
height:80px;
}