.left{
  width: 20%;
  overflow: hidden;
  height: 600px;
  float:left;
  border-color: gainsboro;
  border-style: inset;
  border-width: thin;
  margin-left:20px;
}

.right{
  width: 70%;
  overflow: hidden;
  float:left;
}
.menu{
  color: rgb(92,151,212);
  width: 90px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.a_1,.a_2,.a_3,.a_4,.a_5,.a_6{
  float:left;
}
.a_1{
  width:25%;
  padding: 3 40 3 40;
}
.a_2,.a_3,.a_4,.a_5,.a_6{
  width:10%;
  padding: 3 10 3 10;
}
#up{
  color:blue;
  background: url(../imgs/up.png) center right;
  background-repeat: no-repeat;

}
#down{
  color:blue;
  background: url(../imgs/down.png) center right;
  background-repeat: no-repeat;
}

.unit img{
  width:50px;
  height:50px;
  float:left;
}
.unit{
  overflow:hidden;
  padding:5px;
}
.unit div{
  float:left;
}
.unit input{
  float:left;
}
.ManagerPrice{
color:rgb(255, 64, 1);
  width:10%;
}
.ManagerDesc{
 color:blue;
 margin-left:2%;
  width:24%;
  padding:2,0,1,2;
  font-size:10px;
}
.ManagerStock{
margin-left:5%;
width: 5%;
}
.ManagerSaleVolume{
margin-left:7%;
width: 4%;
}
.ManagerDate{
margin-left:7%;
width: 8%;
}
.ManagerModify{
margin-left:5%;
width: 8%;
}